<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TablesToProcess" type="WR_Snapshooter.Helpers.TablesToProcessSection, WR_Snapshooter" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings configSource="cstrings.config"/>
  <TablesToProcess>
    <Table Name="wraccounts"/>

    <Table Name="wrevents_waits_summary_global_by_event_name"/>
  </TablesToProcess>
  <!-- just to move unneeded tables here 
<Table Name="wrevents_statements_summary_by_digest"/>
  -->  
  
  
</configuration>