<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TablesToProcess" type="WRMySQL.Helpers.TablesToProcessSection, WRMySQL" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings configSource="cstrings.config"/>
  <TablesToProcess>
    <Table Name="accounts"/>
    <Table Name="events_waits_summary_global_by_event_name"/>
    <Table Name="events_statements_summary_by_digest"/>
    <Table Name="information_schema.global_status"/>
    <Table Name="information_schema.innodb_metrics"/>
  </TablesToProcess>
  <!-- just to move unneeded tables here 

  -->  
  
  
</configuration>